body{
  background-color: white;
}
.pendulum{
  position:absolute; 
  width: 220px;
  height: 180px;
  background-color: green;
  top:50%;
  left:  50%;
  border-radius: 5%;
  align-items: center;
  border-top: 15px solid skyblue;
  transform: translate(-50%, -50%);
  }
.pendulum_box{
    display: flex;
    padding: 120px 0 0 10px;
    position: absolute;
    flex: 1;
}
.ball{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 50%;
    transform-origin: 50% -300%;
}
.first{
    animation: rotate 1s linear infinite alternate;
}
.last{
    animation: lrotate 1s 1s linear infinite alternate;
}
.ball::before{
    content: "";
    width: 2px;
    height: 120px;
    background-color: white;
    position: absolute;
    top:-120px;
    left:18px;
}
@keyframes rotate {
    0%{transform: rotate(0deg);}
    50%{transform: rotate(35deg);}
}
@keyframes lrotate {
    50%{transform: rotate(0deg);}
    100%{transform: rotate(-35deg);}
}