.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.loader{
    width: 50px;
    height: 50px;
    background-color: orange;
    animation: spinner 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;

}
@keyframes spinner {
    0%,100%{transform: scale(1) rotate(0deg);}
    50%{transform: scale(2.5) rotate(180deg);}
}