*{
    background-color: white;
}
.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.loader{
    width: 100px;
    height: 100px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader::after, .loader::before{
    content: "";
    position:absolute;

    width: 100%;
    height: 100%;
    border-radius: 100%;
    border:5px solid green;
    animation: rippleffect 2s infinite;
}
.loader::after{
    animation-delay: 1s;
}
@keyframes rippleffect {
    0%{width: 0%;height: 0%;opacity: 1;}
    100%{width: 100%;height: 100%;opacity: 0;}
}