*{
    background-color: white;
}
body{
    
}
.loader{
    opacity: 1;
    background-color: black;
    border-radius: 50%;
    width: 1px;
    height: 1px;

    margin:auto;
    margin-top: 20px;
    animation: load 1s infinite;
}


@keyframes load {
    0%{transform: scale(1);}
    50%{transform: scale(20);}
    100%{opacity: 0;transform: scale(20);}
}