*{
    background-color: white;
}
.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.loader{
    width: 40px;
    height: 40px;
    background-color: green;
    border-radius: 50%;
    animation: shrinker 1s linear infinite ;
    transform: scale(0.5);
}
.loader-container div:nth-child(1) {
  animation-delay: 0s;
}
.loader-container div:nth-child(2) {
  animation-delay: 0.3s;
}
.loader-container div:nth-child(3) {
  animation-delay: 0.6s;
}
@keyframes shrinker {
    0%,100%{transform: scale(0.5);}
    50%{transform: scale(1);}
}