*{
    background-color: white;
}

.flipping-cards{
    display: flex;
    justify-content: center;
    gap:2px
}
.card{
    background-color: orange;
    color:white;

    width: 40px;
    height: 60px;
    padding:10px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px ;
    font-size: 2rem;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    animation: loader 2s infinite;
}

.card:nth-child(1) {
    animation-delay: 0s;
}

.card:nth-child(2) {
    animation-delay: 0.2s;
}

.card:nth-child(3) {
    animation-delay: 0.4s;
}

.card:nth-child(4) {
    animation-delay: 0.6s;
}

.card:nth-child(5) {
    animation-delay: 0.8s;
}

.card:nth-child(6) {
    animation-delay: 1s;
}

.card:nth-child(7) {
    animation-delay: 1.2s;
}

@keyframes loader {
    0%,100%{transform: rotateY(0deg);}
    50%{transform: rotateY(180deg);}
}